{% extends "base.html" %}
{% block Title %}Profile{% endblock %}
{% block Head %}
    <style>
        main {
            padding: 2rem;
            background: #fff;
            border-radius: 0.5rem;
            margin: 0 auto;
            display: flex;
            align-items: flex-start !important;
        }
        .left {
            width: 30rem;
            text-align: center;
            display: inline-block;
        }
        .left img {
            width: 100%;
            height: 30rem;
        }
        .left a {
            display: block;
            margin-top: 1rem;
            font-size: 1.5rem;
        }
        .right {
            padding-left: 2rem;
            display: inline-block;
        }
        .right span {
            font-size: 1.5rem;
            color: #C4C4C4;
        }
        .right p {
            font-size: 1.5rem;
        }
    </style>
{% endblock %}
{% block Content %}
    <main class="col-md-10 col-12 align-items-start">
        <div class="left">
            <img src="/media/{{ owner.image }}" alt="Profile photo">
            {% if is_owner %}
                <a href="../settings/">Change profile</a>
            {% endif %}
            <a href="/auth/logout/">Logout</a>
        </div>
        <div class="right">
            <h1>{{ owner.name }}</h1>
            <span>About me:</span>
            <p>{{ owner.about }}</p>
        </div>

    </main>
{% endblock %}