{% extends "base.html" %}
{% block Title %}News{% endblock %}
{% block Head %}
    <style>
        .article {
            padding: 2rem;
            background: #fff;
            border-radius: 0.5rem;
            margin: 0 auto 1rem;
            display: block;
        }
        .topArticle, .bottomArticle {
            display: flex;
            align-items: center;
            color: black;
        }
        .topArticle img {
            width: 3rem;
            height: 3rem;
            border-radius: 5rem;
        }
        .topArticle span {
            margin-left: 1rem;
            font-size: 1.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
        }
        .mainArticle {
            min-height: 10rem;
            padding-top: 1.5rem;
        }
        .mainArticle a {
            font-weight: bold;
            font-size: 2rem;
            height: 3rem;
        }
        .bottomArticle {
            justify-content: space-between;
        }
        .bottomArticle a {
            font-size: 1.5rem;
            padding: 0 2rem;
        }

        .article #nothing {
            font-size: 2rem;
            width: 100%;
            display: inline-block;
            text-align: center;
        }
        a.article {
            width: fit-content;
            font-size: 1.6rem;
            color: green;
            text-underline: none;
        }

        .outButton {
            padding: 0;
            border: none;
            margin: 2rem auto;
            display: block;
            width: fit-content;
        }
        .outButton a {
            padding: 1rem .5rem;
            background: #fff;
            border-radius: .5rem;
            margin: 0 .5rem;
            display: inline-block;
            width: 40px;
            text-align: center;
        }
    </style>
{% endblock %}
{% block Content %}
    <main>
    {% if user.is_active %}
        <a class="article" href="article/new/">Created new article</a>
    {% endif %}
    {% if isEmpty %}
        <div class="article col-md-6 col-12">
            <span id="nothing">No articles found</span>
        </div>
    {% else %}
        {% for article in articles %}
        <div class="article col-md-6 col-12">
            <a class="topArticle" href="/user/{{ article.author.id }}">
                <img src="/media/{{ article.author.profile.image }}" alt="">
                <span>{{ article.author.profile.name }}</span>
            </a>
            <div class="mainArticle">
                <a href="/article/{{ article.id }}">{{ article.title }}</a>
            </div>
            <div class="bottomArticle">
                {% if user.is_active %}
                    <a href="/article/{{ article.id }}#comments">Add comment</a>
                {% endif %}
                <span class="dateCreated">{{ article.date_created }}</span>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </main>
    {% if beforeArticle or nextArticle %}
        <div class="outButton">
        {% if beforeArticle %}
            <a data-page="{{ page|add:"-1" }}" class="pageButton">Before</a>
        {% endif %}
        {% if nextArticle %}
            <a data-page="{{ page|add:"1" }}"  class="pageButton">Next</a>
        {% endif %}
        </div>
    {% endif %}
    <script>
    function replaceUrlParam(url, paramName, paramValue)
        {
            if (paramValue == null) {
                paramValue = '';
            }
            let pattern = new RegExp('\\b('+paramName+'=).*?(&|#|$)');
            if (url.search(pattern)>=0) {
                return url.replace(pattern,'$1' + paramValue + '$2');
            }
            url = url.replace(/[?#]$/,'');
            return url + (url.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue;
        }

        let pButtons = document.getElementsByClassName("pageButton");
        for (let i = 0; i < pButtons.length; i++) {
            pButtons[i].href = replaceUrlParam(window.location.href, "page", pButtons[i].dataset.page);
        }
    </script>
{% endblock %}